<link rel="stylesheet" href="app.component.css">


<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart">Bar Chart</a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>



<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Logo" src="../images/logo.jpeg"/>
  <span>Make Painful Painful</span>
  <div class="spacer"></div>
  <a id="Settings" href="" title="Settings">
    <span>Icon &nbsp; Settings</span>
  </a>
  &nbsp;
  <a id="Share" href="" title="Share">
    <span>Icon &nbsp; Share</span>
  </a>
  &nbsp;
</div>

<div class="content">
<div id="left">
  <div id="leftTop">
    <span>
        &nbsp;&nbsp;// bookmark area
      <img src="../images/demo0_bookmark.png" alt="bookmarkarea" width="250" height="200" border-radius="15px" align="center">
    </span>
  </div>
  &nbsp;<br>
  <div  id="leftBottom">
    &nbsp;&nbsp;// comments area
    <img src="../images/demo0_comments.png" alt="bookmarkarea" width="300" height="200" border-radius="15px" align="center">

  </div>
</div>

<div id="middle">
  <h2>Finding your hurts</h2>
  <p>Click on some places you feel uncomfortable and find sth. useful</p>
  <img src="../images/body0.png" alt="pic" width="190px" height="410px">

  <div id="special">
    <p>// after click, prompt</p>
    <br>
    <p>
      Symptoms:<br> &nbsp;&nbsp;#$%^#$% <br>
       <br>
      Causes:<br> &nbsp;&nbsp;#$%^#$% <br>
      <br>
      Treatments:<br> &nbsp;&nbsp;#$%^#$% <br>
    </p>
    <p>// maybe quiz ?</p>
  </div>
</div>
<div id="right">
  // votes and charts area
  <br/>
  <div>
    <img src="../images/demo1_votes.png" alt="1" width="280" height="130" border-radius="15px" align="center">
  </div>
  <br>
  <br>
  <br>
  <p>Results:</p>
  <img src="../images/demo0_votes.png" alt="2" width="290" height="200" border-radius="15px" align="center">

</div>



  <!-- Links -->
  <div>
    &nbsp;<br>
    <span id="q1">Our GitHub page.</span>
  </div>
  <div class="card-container">

    <a class="circle-link" title="" href="#" target="_blank" rel="noopener">

      <svg alt="Discord Logo" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 245 240">
        <path d="M104.4 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1.1-6.1-4.5-11.1-10.2-11.1zM140.9 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1s-4.5-11.1-10.2-11.1z"/>
        <path d="M189.5 20h-134C44.2 20 35 29.2 35 40.6v135.2c0 11.4 9.2 20.6 20.5 20.6h113.4l-5.3-18.5 12.8 11.9 12.1 11.2 21.5 19V40.6c0-11.4-9.2-20.6-20.5-20.6zm-38.6 130.6s-3.6-4.3-6.6-8.1c13.1-3.7 18.1-11.9 18.1-11.9-4.1 2.7-8 4.6-11.5 5.9-5 2.1-9.8 3.5-14.5 4.3-9.6 1.8-18.4 1.3-25.9-.1-5.7-1.1-10.6-2.7-14.7-4.3-2.3-.9-4.8-2-7.3-3.4-.3-.2-.6-.3-.9-.5-.2-.1-.3-.2-.4-.3-1.8-1-2.8-1.7-2.8-1.7s4.8 8 17.5 11.8c-3 3.8-6.7 8.3-6.7 8.3-22.1-.7-30.5-15.2-30.5-15.2 0-32.2 14.4-58.3 14.4-58.3 14.4-10.8 28.1-10.5 28.1-10.5l1 1.2c-18 5.2-26.3 13.1-26.3 13.1s2.2-1.2 5.9-2.9c10.7-4.7 19.2-6 22.7-6.3.6-.1 1.1-.2 1.7-.2 6.1-.8 13-1 20.2-.2 9.5 1.1 19.7 3.9 30.1 9.6 0 0-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3 28.1 10.5c0 0 14.4 26.1 14.4 58.3 0 0-8.5 14.5-30.6 15.2z"/>
      </svg>
    </a>
  </div>

  <!-- Footer -->
  <footer>
      Report problems?&nbsp;
      <a href="mailto:" target="_blank" rel="noopener"> Email to us.

      </a>


  </footer>


  <div id="notes">
    <p>
      All the fonts, colors, pictures are temporary !! Dont worry though it's ugly
    </p>
    <p>
      border would be deleted after design, just for visibility now.
    </p>

  </div>

</div>


