p{
  /*color: white;*/
}

#barText{
  /*color: white;*/
  height: 80px;
}

#barLen{
  margin: 0;
  padding: 0;
  color: red;
  background-color: red;
  border: red solid 1px;
  height: 30px;
  border-radius: 0 15px 15px 0;
  width: min-content;
}
