<img  id = "img1"   src="../../assets/body.png" alt="body" height="800px" width="592px" usemap="#planetMap">
<map name="planetMap" id="map1">
  <area shape="circle" coords="270,140,10" alt="Shoulder" onmouseover="show1()" onmouseout="dis1()">
  <area shape="circle" coords="100,130,10" alt="Neck" onmouseover="show2()" onmouseout="dis2()">
  <area shape="circle" coords="280,300,10" alt="Back" onmouseover="show3()" onmouseout="dis3()">
  <area shape="circle" coords="290,360,10" alt="Waist" onmouseover="show4()" onmouseout="dis4()">
  <area shape="circle" coords="85,425,10" alt="Wrist" onmouseover="show5()" onmouseout="dis5()">
  <area shape="circle" coords="305,575,10" alt="Leg" onmouseover="show6()" onmouseout="dis6()">
</map>

<div class="circle1" (click)="$event"></div>
<div class="circle2"></div>
<div class="circle3"></div>
<div class="circle4"></div>
<div class="circle5"></div>
<div class="circle6"></div>

<script>
  function show1(){
    alert("Hello World");
  }
  function dis1(){
    document.getElementById("s1").style.display="none";
  }
  function show2(){
    alert("Hello World");
  }
  function dis2(){
    document.getElementById("s2").style.display="none";
  }
  function show3(){
    alert("Hello World");
  }
  function dis3(){
    document.getElementById("s3").style.display="none";
  }
  function show4(){
    alert("Hello World");
  }
  function dis4(){
    document.getElementById("s4").style.display="none";
  }
  function show5(){
    alert("Hello World");
  }
  function dis5(){
    document.getElementById("s5").style.display="none";
  }
  function show6(){
    alert("Hello World");
  }
  function dis6(){
    document.getElementById("s6").style.display="none";
  }
</script>
