#img1{
  z-index:1;
  position:relative;
  left:100px;
  top:0px;
}

.s1{
  z-index: 1000;
  position: relative;
  display: none;
}
.s2{
  z-index: 1001;
  position: relative;
  display: none;
}
.s3{
  z-index: 1002;
  position: relative;
  display: none;
}
.s4{
  z-index: 1003;
  position: relative;
  display: none;
}
.s5{
  z-index: 1004;
  position: relative;
  display: none;
}
.s6{
  z-index: 1005;
  position: relative;
  display: none;
}

.circle1{
  z-index: 100;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid red;
  box-sizing: border-box;
  position: relative;
  left: 370px;
  top: 140px;
}

.circle2{
  z-index: 101;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid red;
  box-sizing: border-box;
  position: relative;
  left: 200px;
  top: 130px;
}

.circle3{
  z-index: 102;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid red;
  box-sizing: border-box;
  position: relative;
  left: 380px;
  top: 300px;
}

.circle4{
  z-index: 103;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid red;
  box-sizing: border-box;
  position: relative;
  left: 390px;
  top: 360px;
}

.circle5{
  z-index: 104;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid red;
  box-sizing: border-box;
  position: relative;
  left: 185px;
  top: 425px;
}

.circle6{
  z-index: 105;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid red;
  box-sizing: border-box;
  position: relative;
  left: 405px;
  top: 575px;
}


