<!--This area is made for the header-->
<div class="areas" id="header">
  {{title}}
</div>

<!--This area is made for the main content, including 3 parts-->
<div style="min-width: 2000px">
  <div id="body_left" >
    <div id="votesBarBox" >
      <app-bar-chart  id="votesBar"></app-bar-chart>
    </div>
  </div>

  <div id="body_right">
<!--      <img src="../assets/body.png" alt="123" height="800px" width="620px">-->
<!--    <div style="height: 800px; width: 200px; display: inline-block">-->

<!--    </div>-->
    <app-main-body> </app-main-body>

  </div>


</div>




<div class="areas" id="footer">
  <strong>
    Disclaimer:
  </strong>
  <hr/>
  These These suggestions are not offered as a substitute for the qualified medical advice or treatment you have received from your personal physician. We strongly recommend that you consult with your own physician or physiotherapist before beginning any exercise. You should be in good physical condition and be able to participate in these exercise.  You should understand that when participating in any exercise, there is the possibility of physical injury. If you engage in these exercise or exercise programs listed here, you agree that you do so at your own risk, are voluntarily participating in these activities, assume all risk of injury to yourself and agree to release and discharge  our website from any and all claims or causes of action. known or unknown, arising out of Make Painful painful negligence.
</div>







